* {
  padding: 0;
  margin: 0;
}

/* ----------VARIABLER ---------- */
:root {
  --white_text: white;
  --darkgreen: #1b594b;
  --lightgreen: #5ed5ba;
  --white: white;
  --black: black;
}

/*GENERELLE STYLES*/
h2 {
  color: var(--darkgreen);
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px;
  margin-top: -20px;
}

.bold {
  font-weight: bolder;
}

.bolder {
  font-weight: bolder;
}

.lightgreen {
  color: var(--lightgreen);
}

.darkgreen {
  color: var(--darkgreen);
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans';
}

.image-preview {
  width: 15%;
  height: auto;
}

.sektion {
  display: none;
  animation: skiftSide 1s;
}

/*ANIMATIONER*/
@keyframes skiftSide {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/*--------MENU--------*/
.menu {
  display: flex;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: space-around;
  background-color: var(--white);
  border-top: 1.5px solid black;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.menu a {
  text-decoration: none;
  color: var(--black);
  padding: 10px;
}

.menu a img {
  height: 50px;
}

/* ---------- LOADEREN ---------- */
/*Containeren*/
#loadbox {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  text-align: center;
}

/*selve spinneren*/
.spinanimate {
  border: 2px solid var(--lightgreen);
  border-radius: 50%;
  border-top: 2px solid var(--darkgreen);
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hide {
  visibility: hidden;
  opacity: 0;
  /*definerer fade effekten når loaderen forsvinder*/
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*-------TOPBAREN-------*/
header {
  display: flex;
  justify-content: space-between;
}

header img {
  height: 50px;
  padding: 10px;
}

/*--------LOGIN SIDEN--------*/
#firebaseui-auth-container {
  width: 100%;
}

#log {
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
  width: 95%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin: auto;
  border-radius: 20px;
  color: var(--white_text);
  margin-top: 10%;
  padding-top: 50px;
}

#biglogo {
  height: 10vh;
  display: block;
  position: relative;
  margin: auto;
  padding: 25px;
}

#login h4 {
  bottom: 2%;
  right: 2%;
  position: absolute;
  font-size: 30px;
  text-align: right;
  color: var(--lightgreen);
  font-style: italic;
}

.logudknap {
  background-color: var(--lightgreen);
  text-decoration: none;
  color: var(--white_text);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  align-self: center;
  margin-right: 10px;
}

/*-------KØB MAD--------*/
.buy-container {
  position: absolute;
  bottom: 0;
  background-color: var(--white);
  height: 60vh;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 10px black;
  padding-top: 40px;
  padding-bottom: 3 0px;
}

.stars {
  height: 20px;
  width: 20px;
}

#mad-container {
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: 95%;
  justify-content: center;
  scroll-behavior: smooth;
  overflow: scroll;
  margin-bottom: 72px;
}

#mad-container article {
  padding: 10px;
  margin-bottom: 5px;
  width: 90vw;
  display: flex;
}

#mad-container article img {
  height: auto;
  width: 40%;
  object-fit: scale-down;
  border-radius: 15px;
  padding-right: 15px;
}

#buy, #editfood {
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
  width: 100%;
  height: 32vh;
}

#buy input {
  display: block;
  margin: auto;
  width: 65vw;
  padding: 10px;
  border-radius: 15px;
  border: none;
  color: var(--darkgreen);
}

.pot {
  position: fixed;
  right: -20px;
  bottom: 60px;
  height: 150px;
  transform: rotate(-10deg);
  opacity: 0.1;
}

.redslet {
  display: flex;
  position: absolute;
  justify-content: space-around;
  width: 35%;
  margin-top: 113px;
  font-size: 13px;
}

#info-om-ret {
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
  height: 40vh;
}

.foodinfo {
  position: absolute;
  height: auto;
  bottom: 70px;
  top: 20%;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: white;
  justify-content: center;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-x: auto;
}

.foodinfo img {
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.foodinfo p {
  width: 90%;
  display: block;
  margin: auto;
}

.foodinfo h2 {
  padding-top: 50px;
}

.returnbuy {
  position: absolute;
  padding-top: 14px;
  right: 7%;
  color: var(--darkgreen);
}

.muligheder {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 30px;
}

.muligheder p {
  font-size: 10px;
}

.muligheder i {
  font-size: 3em;
}

/*--------Sælg en portion------------*/
.addportion {
  position: absolute;
  bottom: 0;
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
  height: 63vh;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 10px black;
  padding-top: 40px;
  padding-bottom: 20px;
  scroll-behavior: smooth;
  overflow: scroll;
}

#sell-container {
  display: flex;
  flex-direction: column;
}

#sell-container input, #sell-container textarea, #editfood input, #editfood textarea {
  padding: 6px;
  border-radius: 10px;
  border: 0.5px solid var(--lightgreen);
  font-family: 'PT Sans';
  font-size: 18px;
  font-weight: bold;
  color: var(--darkgreen);
}

::placeholder {
  color: var(--darkgreen);
}

.addpic {
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
  width: 10%;
  height: 10%;
  background-color: white;
}

.addportion {
  color: #3B9B86;
  text-align: center;
  margin-bottom: 10px;
}

.info {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  top: 25%;
  left: 10%;
  border-radius: 10px;
  margin: auto;
  width: 80%;
  height: 45%;
  background-color: white;
  padding-bottom: 5%;
  padding-top: 15px;
}

#img {
  width: 30%;
  height: 40px;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 2;
  display: block;
}

#img::after #elegantaddimg {
  content: "";
  position: absolute;
}

#elegantaddimg {
  font-size: 4em;
  display: block;
  right: 40%;
  margin-top: -55px;
  color: #fafafa;
  z-index: 1;
}

/*---------KORT---------*/
#map {
  width: 100%;
  height: 60vh;
  position: absolute;
  bottom: 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.mapboxgl-canvas {
  height: auto;
}

#lokation h2 {
  margin-top: 8px;
}

#lokation p {
  text-align: center;
}

/*-------------UPDATE MADEN---------------*/
.infoupdate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  background-color: white;
  padding-top: 15px;
  scroll-behavior: smooth;
  overflow: scroll;
  padding-bottom: 100px;
  height: 60%;
}

.infoupdate i {
  position: absolute;
  left: 43.5%;
  display: block;
  font-size: 40px;
  z-index: 1;
}

#imagePreview-update {
  max-height: 25vh;
  width: auto;
  padding: 20px;
}

#img-update {
  width: 25%;
  height: 35px;
}

#img-update {
  overflow: hidden;
  opacity: 0;
  z-index: 3;
}

.gemupdate {
  margin: auto;
  border-style: solid;
  color: white;
  border-width: thin;
  border-radius: 10px;
  padding: 10px;
  background-color: #20A285;
  width: 60%;
  margin-top: 15px;
}

#madoverskrift, #madoverskrift-update {
  height: 20px;
  width: 80%;
}

#madbeskrivelse, #madbeskrivelse-update {
  height: 80px;
  width: 80%;
  margin-top: 5px;
}

#gram, #pris, #pris-update, #gram-update {
  width: 35%;
  height: 20px;
  margin-top: 5px;
}

#pris-update {
  margin-left: 12px;
}

#gram-update {
  margin-right: 12px;
}

.gem {
  position: absolute;
  top: 85%;
  left: 80%;
  border-style: solid;
  color: white;
  border-width: thin;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 100px;
  background-color: #20A285;
}

/*----------profil----------*/
.proinfo {
  position: absolute;
  bottom: 0;
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
  height: 63vh;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 10px black;
  padding-top: 40px;
  padding-bottom: 20px;
  scroll-behavior: smooth;
  overflow: scroll;
}

.proinfo2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  margin: auto;
  width: 80%;
  height: 60%;
  background-color: white;
  padding: 15px;
  color: var(--darkgreen);
}

.proinfo2 div {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}

.proinfo2 div div {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

.proinfo2 i {
  font-size: 1em;
}

#nameandmail {
  font-size: 2em;
  color: black;
  position: absolute;
  width: 90%;
  height: 100px;
  top: 0;
}

#profil p {
  text-align: center;
}

#mineordre {
  font-size: 1em;
}

/*-----------KURVEN-------------*/
#pay {
  width: 90%;
  display: block;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
  border-radius: 20px;
}

.kurven {
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.kurven h2 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

#pay p {
  text-align: center;
  color: white;
}

#payment h3 {
  text-align: center;
  padding-top: 25px;
  color: var(--darkgreen);
}

.betalinger {
  width: 90%;
  max-height: 100px;
  object-fit: scale-down;
  margin: auto;
  display: block;
}

#mersalg {
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
  padding: 15px;
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  width: 50%;
  margin-top: 45px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px black;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

.textdeco {
  text-decoration: none;
}

/*----------KVITTERING----------*/
#kvittering {
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
  position: absolute;
  width: 100%;
  bottom: 50px;
  height: 50%;
  padding-top: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

#kvittering h5 {
  font-size: 2em;
}

#succes p {
  text-align: center;
}

#tillykke {
  position: absolute;
  display: block;
  margin-left: 10%;
  margin-right: auto;
bottom: 100px;
color:#ebebeb;
width: 80%;
}

#miljtree {
  position: absolute;
  bottom: 40px;
  height: 40%;
  z-index: 10;
  opacity: 0.3;
}

.kvitten {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
}

.kvitten h2 {
  font-size: 1.5em;
  padding-left: 20px;
}

@media (min-width: 600px) {}

@media (min-width: 992px) {}
