*{
  padding: 0;
  margin: 0;
}

/* ----------VARIABLER ---------- */
:root {
  --white_text: white;
  --darkgreen: #1b594b;
  --lightgreen: #5ed5ba;
  --white: white;
  --black: black;
}

/*GENERELLE STYLES*/
h2 {
  color: var(--darkgreen);
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px;
  margin-top: -20px;
}

.bold {
  font-weight: bolder;
}

.lightgreen {
  color: var(--lightgreen);
}

.darkgreen {
  color: var(--darkgreen);
}

/*--------MENU--------*/
.menu {
  display: flex;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  background-color: var(--white);
  border: 1.5px solid black;
  border-top-left-radius: 13px;  border-top-right-radius: 13px;
}

.hide{
  visibility: hidden;
  opacity: 0;
}

.menu a {
  text-decoration: none;
  color: var(--black);
  padding: 10px;
}

.menu a img {
  height: 50px;
}

/*-------TOPBAREN-------*/
header {
  display: flex;
  justify-content: space-between;
}

header img {
  height: 50px;
  padding: 10px;
}

/*--------LOGIN SIDEN--------*/
#firebaseui-auth-container {
  width: 100%;

}

#log {
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
  width: 95%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin: auto;
  border-radius: 20px;
  color: var(--white_text);
  margin-top: 10%;
  padding-top: 50px;
}

#biglogo {
  height: 10vh;
  display: block;
  position: relative;
  margin: auto;
  padding: 25px;
}



#login h4 {
  bottom: 2%;
  right: 2%;
  position: absolute;
  font-size: 35px;
  text-align: right;
  color: var(--lightgreen);
  font-style: italic;
}

/*-------KØB MAD--------*/
.buy-container {
  position: absolute;
  bottom: 0;
  background-color: var(--white);
height: 60vh;
width: 100%;
border-top-left-radius: 30px;  border-top-right-radius: 30px;
box-shadow: 0 0 10px black;
padding-top: 40px;
padding-bottom: 3  0px;
}

.stars {
  height: 20px;
  width: 20px;
}

#mad-container {
  display: grid;
  grid-auto-rows: 25%;
  grid-template-columns: 95%;
  justify-content: center;
  scroll-behavior: smooth;
  overflow: scroll;
  margin-bottom: 57px;
}

#mad-container article {
  padding: 10px;
  width: 90vw;
  display: flex;
}

#mad-container article img {
height: auto;
width: 40%;
object-fit: scale-down;
border-radius: 15px;
}

#buy{
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
  width: 100%;
height: 30vh;
}

#buy input {
  display: block;
  margin: auto;
  width: 65vw;
  padding: 10px;
  border-radius: 15px;
  border: none;
  color: var(--darkgreen);
}

.pot {
  position: fixed;
  right: -20px;
  bottom: 60px;
  height: 150px;
  transform: rotate(-10deg);
  opacity: 0.1;
}

/*--------Sælg en portion------------*/
.addportion {
  position: absolute;
  bottom: 0;
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
height: 63vh;
width: 100%;
border-top-left-radius: 30px;  border-top-right-radius: 30px;
box-shadow: 0 0 10px black;
padding-top: 40px;
padding-bottom: 20px;
scroll-behavior: smooth;
overflow: scroll;
}
.addpic{
  padding: 10px;
  border-radius: 10px;
  margin:10px auto;
  width: 10%;
  height: 10%;
  background-color: white;
}
.addportion {
color: #3B9B86;
text-align: center;
margin-bottom: 10px;

}


.info{
  position: absolute;
  top: 50%;
  left: 10%;
  border-radius: 10px;
  margin: auto;
  width: 80%;
  height: 30%;
  background-color: white;
  padding-bottom: 5%;
}
.gem{
  position: absolute;
  top: 85%;
  left: 80%;
  border-style: solid; color: white;
   border-width: thin;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 100px;
  background-color: #20A285;
}
/*----------profil----------*/
.proinfo{
  position: absolute;
  bottom: 0;
  background: linear-gradient(var(--lightgreen), var(--darkgreen));
height: 63vh;
width: 100%;
border-top-left-radius: 30px;  border-top-right-radius: 30px;
box-shadow: 0 0 10px black;
padding-top: 40px;
padding-bottom: 20px;
scroll-behavior: smooth;
overflow: scroll;
}
.proinfo2{
  border-radius: 10px;
  margin: auto;
  width: 90%;
  height: 70%;
  background-color: white;
  padding-bottom: 5%;
}


@media (min-width: 600px) {

}

@media (min-width: 992px) {

}
